<div class="login-container">
  <div class="login">
    <h2>Login</h2>

    <form action="/token" method="POST">
      <input type="text" name="username" placeholder="Username">
      <input type="text" name="password" placeholder="Password">
      <button type="submit" class="btn login-btn">Login</button>
    </form>

    <p>Not signed up? <a href="/signup">Signup<a/></p>
  </div>
</div>
