<div class="signup-container">
  <div class="signup">
    <h2>Signup</h2>

    <form action="/users" method="POST">
      <input type="text" name="username" placeholder="Username">
      <input type="text" name="password" placeholder="Password">
      <button type="submit" class="btn signup-btn">Signup</button>
    </form>

    <p>Already registered? <a href="/login">Login<a/></p>
  </div>
</div>
